<div class="posts">
  {{#each posts}}
  <article class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2 class="h5">
        <a href="/post/{{id}}" class="text-decoration-none text-dark">{{title}}</a>
      </h2>
      <div class="text-muted">
        Posted by {{user.username}} on {{formatDate createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>
